body {
  width: 500px;
  margin: 4% auto;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 5px;
  font-size: 1.8rem;
  display: flex;
}

.calculator {
  padding: 20px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  border-color: black;
}

.input {
  width: 400px;
  height: 100px;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 2px;
  font-size: 20pt;
  text-align: left;
}

button {
  background-color: pink;
  border-color: rgba(255, 255, 255, 0.659);
  height: 30px;
  width: 70px;
  display: inline-flex;
  justify-content: space-evenly;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px;
  font-size: 15px;

}

.equals-reset {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.result {
  display: flex;
  justify-content: space-evenly;
}